@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
            *{
                box-sizing: border-box;
                font-family: 'Poppins', sans-serif;
            
            }

            br{
                user-select:none;
            }
            @media (min-width: 769px){
            .float-container{
                align-items: center;

            }
        }
            @media (max-width: 768px){
            .float-container{

                align-items: center;
                display: flex;
                flex-direction: column;}
            }

            .float-child1{
                width: 50%;
                float: left;
                margin-right: 710px;

            }
        
            .float-child2{
                float: left;
            }
            .radio{
                display: inline-flex;
                align-items: center;
                cursor: pointer;
                margin-right: 15px;
                color: white;
                font-size:x-large;
                user-select:none;
            }
            .radio__input{
                display: none;
            }
            .radio__radio{
                width: 1.25em;
                height: 1.25em;
                border: 2px solid #d8e4e2;
                border-radius: 50%;
                margin-right: 10px;
                box-sizing: border-box;
                padding: 2px;
            }
            .radio__radio::after{
                content: "";
                width: 100%;
                height: 100%;
                display: block;
                background: white;
                border-radius: 50%;
                transform: scale(0);
                transition: transform 0.15s;
            }
            .radio__input:checked + .radio__radio::after{
                transform: scale(1);
            }
            .score{
                color: white;
                margin-right: 692px;
                margin-top: 25px;
                
            }
            .about{
                color:white;
                margin-top: 70px;
                margin-bottom: 70px;
                user-select:none;
            }
            p{
                color: white;
                margin: 60px 200px 40px 200px;
                text-align: center;
                user-select:none;
            }
            img{
                user-select: none;
            }
            .boardmargin{
                margin-bottom: 40px;
                margin-top: 40px;
                user-select:none;
            }
            @media (min-width: 769px){
                canvas{
                    margin-left: 700px;
                    transform:scale(1)
                }
            }
            @media (max-width: 768px){
                canvas{
                    margin-left: 240px;
                    transform:scale(1);
                }
            }

            div{
                margin-top: 0px;
                margin-bottom: 0px;
                align-items: center;
                vertical-align: middle;
            }
            .pixelbutton{
                position: relative;
                width: 180px;
                height: 60px;
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
                line-height: 60px;
                letter-spacing: 2px;
                margin: 10px;
                transition: 0.5s;
                font-size: larger;
                cursor:pointer;
                user-select:none;
                
            }
            a:hover{
                background: #ec0b36 url(pictures/pixel.png);
                /*background-size: 180px; */
                transition-delay: 0.3s;
                animation: animate 0.4s steps(8) forwards;
            }
            @keyframes animate{
                0%{
                    background-position-y: 0;
                }
                100%{
                    background-position-y: -480px; 
                }
            }
            h1{
                color:white;
                text-align: center;
                font-size: xx-large;
            }
            div{
                text-align: left;
                color:rgb(255, 255, 255);
            }
            @media (min-width: 769px){
            html, body{
                background-color:rgb(0, 0, 0);
                /* align-items: left; */
                flex-direction: column;
                min-height: 100vh;
                display: flex;
                margin: 0;
                transform:scale(.8);
                margin-top: -80px;
            }
        }
            @media (max-width: 768px){
                html, body{
                    background-color:rgb(0, 0, 0);
                    /* align-items: left; */
                    flex-direction: column;
                    min-height: 100vh;
                    display: flex;
                    margin: 0;
                    transform:scale(.55);
                    margin-top: -240px;
                }
            }
            .center{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
